@media only screen and (max-width: 480px) {
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #52475a34;
  }

  .menuButton {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    z-index: 100;
    font-size: 2.5em;
  }

  .menuContainer {
    position: fixed;
    right: 0;
  }
  .logo {
    padding: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 1em;
    display: flex;
  }

  .buttonsContainer {
    margin-left: auto;
  }
}
