@media only screen and (max-width: 480px) {
  .svg {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: -10;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  .reviewsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .reviewText {
    margin: 0.5em;
  }

  .circleBox {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
  }

  .circle {
    width: 0.4em;
    height: 0.4em;
    background-color: #a38d9d;
    border-radius: 50%;
  }

  .circleActive {
    width: 0.375em;
    height: 0.375em;
    background-color: transparent;
    border: 0.025em solid #a38d9d;
    border-radius: 50%;
  }

  .icon {
    color: #a38d9d;
    font-size: 2em !important;
    padding: 0.5em 1em;
  }
}

@media only screen and (min-width: 768px) {
}
